SECRET_KEY=voiceone-secure-civic-secret-key-2026-xyz892
MONGO_URI=mongodb://localhost:27017/voiceone_db
DB_NAME=voiceone_db
AADHAAR_HASH_SALT=voiceone_civic_privacy_salt_v1_9a8b7c6d
DIGILOCKER_CLIENT_ID=VOICEONE_DL_SANDBOX_ID
DIGILOCKER_CLIENT_SECRET=VOICEONE_DL_SANDBOX_SECRET
DIGILOCKER_REDIRECT_URI=http://127.0.0.1:5000/auth/digilocker/callback
FLASK_DEBUG=True
PORT=5000
